.dashboard {
  flex: 4;
  overflow: scroll;
  padding-bottom: 25px;
}

.dashboard--header {
  display: flex;
  border-bottom: 2px solid #705CF1;
}

.dashboard--header-title__h4 {
  color: #705CF1;
  font-weight: 500;
  margin: 0;
  padding: 25px;
  padding-bottom: 15px;
}

.dashboard--header-links {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  padding: 0 25px;
  font-size: 2.25rem;
}

.dashboard--section {
  display: flex;
  flex-direction: column;
}

.dashboard--section-title {
  margin: 10px 25px;
  color: #9DA3B9;
  text-transform: uppercase;
}

.dashboard--section-body {
  padding: 10px 25px;
  padding-top: 0;
  display: flex;
}

.dashboard--techtab {
  color: #fff;
  font-weight: 800;
  padding: 0.75rem;
  margin: 0 10px;
  border-radius: 0.7rem;
}

.dashboard--description {
  color: #3F3F3F;
  font-weight: 600;
  margin: 0;
  line-height: 1.5;
}

.dashboard--description p {
  margin: 0;
}

.dashboard--description p:not(:first-child) {
  margin-top: 8.5px;
}

.dashboard--list {
  margin: 0;
  padding-left: 1.5rem;
  color: #3F3F3F;
  font-weight: 600;
  list-style: none;
}

.dashboard--list li {
  margin: 0.75rem 0;
}

.dashboard--list li::before {
  content: "\2022";
  display: inline-block;
  color: #705CF1;
  font-weight: 800;
  margin-left: -1rem;
  width: 1rem;
}

.drawing-image {
  height: 200px;
  border-radius: 1rem;
  margin: 0 25px;
}

.drawing-image:first-child {
  margin-left: 0;
}